<!DOCTYPE html>
<html lang="en">
{% extends 'index.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Car Details</title>
</head>
<body>

<div class="card">
                  <div class="card-body">
                    <h4 class="card-title">CAR DETAILS</h4>
                    <p class="card-description">Car details</p>
                    <form class="forms-sample" method="post" action="{% url 'savespecification' %}" enctype="multipart/form-data">
                      {% csrf_token %}




                      <div class="form-group">
                        <label for="exampleInputPassword4">Feature1</label>
                        <input type="text" class="form-control" id="exampleInputPassword4" placeholder="Feature1" name="option1">
                      </div>




                       <div class="form-group">
                        <label for="exampleInputEmai">Feature2</label>
                        <input type="text" class="form-control" id="exampleInputEmai" placeholder="Feature2" name="option2">
                      </div>

                        <div class="form-group">
                        <label for="exampleInputEmi">Feature3</label>
                        <input type="text" class="form-control" id="exampleInputEmi" placeholder="Feature3" name="option3">
                      </div>

                        <div class="form-group">
                        <label for="exampleInpEmi">Feature4</label>
                        <input type="text" class="form-control" id="exampleInpEmi" placeholder="Feature4" name="option4">
                      </div>

                         <div class="form-group">
                        <label for="exampleInpi">Feature5</label>
                        <input type="text" class="form-control" id="exampleInpi" placeholder="Feature5" name="option5">
                      </div>



                      <button type="submit" class="btn btn-primary mr-2"> Submit </button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   {% if messages %}
     {% for i in messages %}
         {% if i.tags == 'warning'%}
              <script>
                  swal('{{i}}','','warning');
              </script>
         {% elif i.tags == 'error'%}
              <script>
                  swal('{{i}}','','error');
              </script>
         {% elif i.tags == 'info'%}
              <script>
                  swal('{{i}}','','info');
              </script>
         {% else %}
               <script>
                  swal('{{i}}','','success');
              </script>
         {% endif %}
     {% endfor %}
   {% endif %}
</body>
</html>
{% endblock %}