<!DOCTYPE html>
<html lang="en">
{% extends 'index.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Car Details</title>
</head>
<body>

<div class="card">
                  <div class="card-body">
                    <h4 class="card-title">BRAND DETAILS</h4>
                    <p class="card-description">Brand details</p>
                    <form class="forms-sample" method="post" action="{% url 'savebrand' %}" enctype="multipart/form-data">
                      {% csrf_token %}

                        <div class="form-group">
                        <label >Brand Name</label>
                        <input type="text" class="form-control" id="exampleInputEml3" placeholder="Name" name="bbrand">
                      </div>


                    <div class="form-group">
                      <label for="exampleTextarea1">Description</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4" placeholder="Description" name="bdescription"></textarea>
                    </div>



                      <div class="form-group">
                        <label>Upload Car images</label>
                        <input type="file" name="bimage" class="file-upload-default" placeholder="Car Image">
                        <div class="input-group col-xs-12">
                           </div>
                     <div class="form-group">

                      <input type="file" class="form-control" placeholder=" Image" name="bimage">
                    </div>
                        </div>




                      <button type="submit" class="btn btn-primary mr-2"> Submit </button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>

</body>
</html>
{% endblock %}